.about
	padding-top em(50)

	&__wrapper
		wrapper()
		clearfix()

	&__main
		float left
		width prc(700/1100)
		vertical-align top

	&__mission
		position relative
		margin-bottom em(66)
		width prc(640/700)
		min-height em(400)
		background-image url('../images/bg-mission.jpg')
		background-repeat no-repeat
		background-position left center
		background-size cover

	&__reason
		position relative
		width prc(640/700)

	&__separator
		position absolute
		top 0
		right 0
		width prc(746/640)
		height 1px
		background-color #8b8986
		border none
		opacity .2

	&__services
		float right
		width prc(400/1100)









