.about
	padding-top em(50)

	&__wrapper
		wrapper()
		clearfix()

		+below(1140px)
			text-align center

		+below(450px)
			padding-x 10px

	&__main
		float left
		width prc(700/1100)
		text-align left
		vertical-align top

		+below(1140px)
			display inline-block
			float none

		+below(700px)
			width 100%

		+below(450px)
			font-size rem(12)

	&__mission
		position relative
		margin-bottom em(66)
		width prc(640/700)
		min-height em(400)
		background-image url('../images/bg-mission.jpg')
		background-repeat no-repeat
		background-position left center
		background-size cover

		+below(700px)
			margin-x auto

	&__reason
		position relative
		width prc(640/700)

	&__separator
		position absolute
		top 0
		right 0
		width prc(746/640)
		height 1px
		background-color #8b8986
		border none
		opacity .2

	&__column
		margin-right prc(30/1140)
		float left
		vertical-align top

		+below(1140px)
			display inline-block
			float none
			max-width em(180)

		+below(700px)
			margin-top em(50px)
			max-width em(190)

		+below(450px)
			width prc(190/450)

	&__column2
		margin-right 0
		float right

		+below(1140px)
			margin-x auto
			margin-top em(50px)
			float none
			width 100%
			max-width em(856px)

		+below(700px)
			display inline-block
			max-width em(190)

		+below(450px)
			width prc(190/450)









