include ../mission/mission
include ../reason/reason
include ../services/services
include ../services2/services2

mixin about()
	+b('section').about&attributes(attributes)
		+e.wrapper
			+e.main
				+e.mission
					+mission()
				+e.reason
					+e('hr').separator
					+reason()
			+e('aside').column
				+services()
			+e('aside').column2
				+services2()


