mixin reason()
	+b('section').reason&attributes(attributes)
		+e.number 02
		+e('h2').title Why us
		+e('p').desc
			| Our company has extensive experience in legal and accounting
			| services, we employ only those experts who can efficiently. And
			| competently resolve any issues. In addition, we have a number?
			| Achievements that make us one of the best.
