include ../../../node_modules/bemto.jade/bemto.jade
include ../page/page
include ../header/header
include ../nav/nav
include ../footer/footer
include ../scripts/scripts


doctype html
html(lang='en')
	include ../head/head
	+page(id='page')
		+header(id='header')
		+nav(id='nav')
		block content
		+footer(id='footer')
		+scripts(['https://maps.googleapis.com/maps/api/js','app.min.js'])
