.nav
	position fixed
	z-index 1
	top 0
	right 0
	padding-top em(47)
	visibility hidden
	overflow-y auto
	width em(200)
	height 100%
	background #fff
	transition transform .4s 0s, visibility 0s .4s
	transform translateX(em(80))

	&_open
		visibility visible
		transition transform .4s 0s, visibility 0s 0s
		transform translateX(0)

	&__list
		margin-left em(15)
		border-left 1px solid #e7e7e7

	&__link
		margin-left em(20, 14)
		padding-y em(15, 14)
		display block
		font-family $helvetica-cyr
		font-size em(14)
		font-weight 300
		line-height (24/14)
		text-decoration none
		text-transform uppercase
		letter-spacing .6px
		color #000

		&:hover
			padding-bottom em(15, 14)
			font-weight 500

