$raleway = 'Raleway', sans-serif;
$helvetica-cyr = 'HelveticaNeueCyr', sans-serif
$lombok = 'Lombok', sans-serif
$freestyle = 'Freestyle Script', serif

@font-face {
	font-family 'HelveticaNeueCyr'
	src local('HelveticaNeueCyr-LightItalic'),
		url('../fonts/HelveticaNeueCyr-LightItalic.woff2') format('woff2'),
		url('../fonts/HelveticaNeueCyr-LightItalic.woff') format('woff')
	font-weight 300
	font-style italic
}

@font-face {
	font-family 'Lombok'
	src local('Lombok'),
		url('../fonts/Lombok.woff2') format('woff2'),
		url('../fonts/Lombok.woff') format('woff')
	font-weight normal
	font-style normal
}

@font-face {
	font-family 'HelveticaNeueCyr'
	src local('HelveticaNeueCyr-Light'),
		url('../fonts/HelveticaNeueCyr-Light.woff2') format('woff2'),
		url('../fonts/HelveticaNeueCyr-Light.woff') format('woff')
	font-weight 300
	font-style normal
}

@font-face {
	font-family 'HelveticaNeueCyr'
	src local('HelveticaNeueCyr-Roman'),
		url('../fonts/HelveticaNeueCyr-Roman.woff2') format('woff2'),
		url('../fonts/HelveticaNeueCyr-Roman.woff') format('woff')
	font-weight normal
	font-style normal
}

@font-face {
	font-family 'HelveticaNeueCyr'
	src local('HelveticaNeueCyr-UltraLight'),
		url('../fonts/HelveticaNeueCyr-UltraLight.woff2') format('woff2'),
		url('../fonts/HelveticaNeueCyr-UltraLight.woff') format('woff')
	font-weight 200
	font-style normal
}

@font-face {
	font-family 'HelveticaNeueCyr';
	src local('HelveticaNeueCyr-Medium'),
		url('../fonts/HelveticaNeueCyr-Medium.woff2') format('woff2'),
		url('../fonts/HelveticaNeueCyr-Medium.woff') format('woff')
	font-weight 500
	font-style normal
}

@font-face {
	font-family 'Freestyle Script'
	src local('Freestyle Script'), local('FreestyleScript-Regular'),
		url('../fonts/FreestyleScript-Regular.woff2') format('woff2'),
		url('../fonts/FreestyleScript-Regular.woff') format('woff')
	font-weight normal
	font-style normal
}
