.services


	&__figure
		position relative
		margin-bottom em(26)
		text-align left

		&_last
			margin-bottom 0

	&__img
		width 100%
		height auto

	&__caption
		position absolute
		left em(18, 14)
		bottom em(15, 14)
		font-family $helvetica-cyr
		font-size em(14)
		font-weight 200
		line-height (18/14)
		letter-spacing em(.6, 14)
		color #fff

		+below(450px)
			position static
			font-size em(12)
			font-weight 300
			text-align center
			color #000

