.mission
	padding-top em(69)
	padding-right em(20)
	padding-left em(74)
	color #fff

	&__number
		position relative
		margin-bottom em(26, 60)
		display inline-block
		font-family $raleway
		font-size em(60)
		font-weight 300
		line-height (60/60)
		letter-spacing 2.5px

		&::before
			position absolute
			top 58%
			left 50%
			width em(104, 60)
			height 1px
			content ''
			background-color #fff
			opacity .2
			transform translateX(-50%)


	&__title
		margin-bottom em(22, 36)
		margin-left em(61, 36)
		font-family $helvetica-cyr
		font-size em(36)
		font-weight 300
		line-height (24/36)
		letter-spacing 2.5px
		word-spacing -1.5px

		& span
			letter-spacing 1.5px

	&__desc
		margin-left em(65, 14)
		font-family $helvetica-cyr
		font-size em(14)
		font-weight 200
		line-height (24/14)
		letter-spacing .8px

		+below(450px)
			font-weight 300


