mixin mission()
	+b.mission&attributes(attributes)
		+e.number 01
		+e('h2').title Our #[span mission]
		+e('p').desc
			| We are always directed forward. The principle of our work -
			| the constant development, improving service quality and
			| expanding the range of activities.
